.PaymentSelector {
  padding-top: 20px;
  font-weight: bold;
}

.PaymentSelector .container {
  display: flex;
  flex-wrap: wrap;
}

.PaymentSelector .text {
  padding-left: 50px;
  text-align: left;
}
