.DurationSelector {
  padding-top: 20px;
  font-weight: bold;
}

.DurationSelector .container {
  display: flex;
  flex-wrap: wrap;
}

.DurationSelector .text {
  padding-left: 50px;
  text-align: left;
}
