.Duration {
  border: 2px dotted;
  height: 90px;
  width: 200px;
  margin: 9px;
  flex: 0 0 calc(25% - 22px);
}
.Duration:hover {
  background-color: #ffa;
}
.Duration.choosed {
  background-color: #ffa;
  border-color: white;
}
.Duration.not-choosed {
  border-color: grey;
  color: grey;
}
