.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #ffa;
}

.App h1 {
  color: red;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
button:enabled {
  background-color: yellow;
}
button:enabled:hover {
  background-color: orange;
}
